<section class="intro" id="intro" data-parallax="scroll" data-image-src="assets/images/ed.jpg">
    <!-- class="intro player" id="intro" data-property="{videoURL:'http://youtu.be/xKa2NqoNSco'}" -->
    <!-- https://youtu.be/Yba0RREKAik -->
    <!--http://youtu.be/xKa2NqoNSco -->
    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sorcey-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            <a class="navbar-brand animated pulse" routerLink="/intro"><img src="assets/images/logoUNI.png" alt=""></a>
                            <h1 class="animated pulse">UNI</h1>
                        </div>

                        <div class="collapse navbar-collapse navbar-sorcey-collapse">
                            <ul class="nav navbar-nav navbar-right">

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['home']" data-scroll>Inicio</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['alma-mater']" data-scroll>Alma Mater</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['recintos']" data-scroll>Recintos</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['academica']" data-scroll>Academica</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['investigacion']" data-scroll>Investigacion</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['extension']" data-scroll>Extension</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['posgrado']" data-scroll>Posgrados</a>
                                </li>

                                <li routerLinkActive="active ">
                                    <a [routerLink]="['vida-estudiantil']" data-scroll>Vida Estuiantil</a>
                                </li>

                                <!-- <li><a href="#contact" data-scroll>Contactenos</a></li> -->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Ends: header -->

    <div class="intro-main">
        <div class="intro-text">
            <h1 class="animated pulse">Universidad Nacional de Ingeniería</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.</p>
            <!-- <a href="#" class="intro-btn wow bounceIn">Get Started</a> -->
        </div>
        <div class="go-down-btn">
            <a href="#about" data-scroll><img src="assets/images/mouse-icon.png" alt=""></a>
        </div>
    </div>
    <!-- Ends: .intro-main -->

</section>
<!-- Ends: .intro -->