<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left animated pulse">
                    <h1>Dirección superior</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="offices-section" class="offices-section">
    <div class="container">
       <!-- <div class="row">
            <div class="col-md-12">
                <div class="offices-title text-center animated fadeInLeft" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>Service Price</h2>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4">
                <div class="offices">
                    <div class="offices-header">
                        <img class="img-responsive img-thumbnail"src="assets/images/Ing._Nestor_Gallo_Zeledon.jpg" alt="">
                    </div>
                    <div class="offices-body">
                        <h2 class="pricing-title">Rector</h2>
                        <h3>Ing. Néstor Gallo Zeledón</h3>
                        <a href="mailto:dtic@uni.edu.ni">rectoria@uni.edu.ni</a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                          Leer mas...
                        </button>
                        <!--Modal  -->
                        <div class="modal animated fadeIn" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h2 class="modal-title" id="exampleModalLongTitle">Rector</h2>

                            </div>
                            <div class="modal-body">
                              <!--Content  -->

                              <p class="text-justify">El Gobierno y la Administración general de la Universidad está a cargo del Rector, quien es la autoridad académica y ejecutiva superior de la misma. Es el representante legal de la Institución y el ejecutor de los acuerdos del Consejo Universitario, el cual preside. Es electo por un período de cuatro años, pudiendo ser reelecto. El ejercicio de esta función es incompatible con cualquier otra función pública, excepto la docencia en la Educación Superior.</p>
                              <h4>Son atribuciones del Rector, las siguientes:</h4><hr>
                              <ul class="text-justify">
                                <li>Cumplir y hacer cumplir la Ley, el Estatuto y Reglamentos vigentes.</li>
                                <li>Suscribir los contratos, realizar las actividades y dar curso a los actos que sean necesarios para el cumplimiento de los objetivos de la Universidad.</li>
                                <li>Autorizar la emisión de los diplomas y títulos universitarios.</li>
                                <li>Proponer el nombramiento de los Vicerrectores y del Secretario General de la Universidad, al Consejo Universitario.</li>
                                <li>Proponer la remoción de los Vicerrectores y del Secretario General de la Universidad, al Consejo Universitario.</li>
                                <li>Informar anualmente de las evaluaciones académicas y de las actividades universitarias, a la Asamblea General Universitaria.</li>
                                <li>Velar por la buena marcha y el prestigio de la Universidad.</li>
                                <li>Recibir la promesa de Ley de los funcionarios.</li>
                                <li>Aceptar o repudiar las herencias, legados y donaciones que se hagan a la Universidad y autorizar la adquisición, enajenación y gravamen de bienes propiedad de ella, así como la celebración de contratos de cualquier índole, sujeto a ratificación del Consejo Universitario.</li>
                                <li>Designar a las personas que deban actuar como delegados de la Universidad ante otros organismos e instituciones.</li>

                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offices">
                    <div class="offices-header colored-bg">
                        <img class="img-responsive img-thumbnail" src="assets/images/Arq._Victor_Arcia_Gomez.gif" alt="">
                    </div>
                    <div class="offices-body">
                        <h2 class="offices-title">Vice-Rector</h2>
                        <h3>Arq. Victor Arcia Gómez</h3>
                        <a href="mailto:victor.arcia@uni.edu.ni">victor.arcia@uni.edu.ni</a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                          Leer mas...
                        </button>
                        <!-- Modal -->
                        <div class="modal animated fadeIn" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLongTitle">INFR. DE REDES Y SOPORTE TÉCNICO</h5>

                              </div>
                              <div class="modal-body">
                                <!-- Content -->
                                <h4>Infraestructura</h4>
                                <ul class="text-left">
                                  <li>Proporcionar los medios tecnológicos necesarios con equipamiento que permita la interconexión y el transporte de datos de las distintas redes del Backbone de la UNI/RUSB/RUPAP.</li>
                                  <li>Asegurar el funcionamiento de las redes para una transmisión de datos consistente, eficiente, segura con parámetros medibles y reportables de carácter internacional y debidamente documentados.</li>
                                  <li>Asegurar el funcionamiento de las redes para una transmisión de datos consistente, eficiente, segura con parámetros medibles y reportables de carácter internacional y debidamente documentados.</li>
                                </ul><hr>
                                <h4>Soporte Técnico</h4>
                                <ul class="text-justify">
                                  <li>Supervisar y garantizar el buen funcionamiento de los distintos equipos de cómputo en las distintas áreas  administrativas de UNI/RUSB/RUPAP/NORTE.</li>
                                  <li>Coordinar y ejecutar actualizaciones de software bajo licenciamiento que se requieran en UNI/RUSB/RUPAP/NORTE.</li>
                                  <li>Planificar, coordinar y ejecutar mantenimientos (correctivos y preventivos) según el tipo de evento en las distintas áreas administrativas de la institución a nivel de software, además de diagnosticar problemas en hardware, de los distintos equipos de cómputo.</li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offices">
                    <div class="offices-header">
                        <img class="img-responsive img-thumbnail"src="assets/images/Ing._Diego_Muñoz_Latino.jpg" alt="">
                    </div>
                    <div class="offices-body">
                        <h2 class="offices-title">Secretario General</h2>
                        <h3>Msc. Diego Muñoz Latino</h3>
                        <a href="mailto:diegom@uni.edu.ni ">diegom@uni.edu.ni </a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Leer mas...
                        </button>
                        <!-- Modal -->
                        <div class="modal animated fadeIn" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">ADMINISTRACIÓN DE SERVIDORES</h5>

                              </div>
                              <div class="modal-body">
                                <p>A cargo de los servidores y aplicaciones centrales de información y bases de datos en la UNI que aseguran los servicios centrales ofrecidos por la DTIC. Asegura la documentación actualizada y disponible de las configuraciones de los servidores y aplicaciones.</p>
                                <h4>Funciones</h4>
                                <ul class="text-justify">
                                  <li>Supervisar y administrar el ancho de banda brindado por el ISP.</li>
                                  <li>Instalar, configurar y Administrar aplicaciones en los servidores garantizando asi los servicios de alojamiento web, correo, dns, webcachés y encaminamiento IP.</li>
                                  <li>Administrar cuentas de correo electronico y foros de discusión institucional.</li>
                                  <li>Estudiar y Proponer nuevas técnologías en la red UNI que tienen relación con los servicios de Internet.</li>
                                  <li>Aplicar politicas de seguridad tanto para servidores de la DTIC como para los usuarios internos.</li>
                                  <li></li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offices">
                    <div class="offices-header">
                        <img class="img-responsive img-thumbnail"src="assets/images/M.Sc._Ing._Freddy_Marin_Serrano.jpg" alt="">
                    </div>
                    <div class="offices-body">
                        <h2 class="offices-title">Vicerrectoría Académica</h2>
                        <h3>M.Sc. Ing. Freddy Tomás Marín Serrano</h3>
                        <a href="mailto:freddy.marin@uni.edu.ni ">freddy.marin@uni.edu.ni </a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                          Leer mas...
                        </button>
                        <!-- Modal -->
                        <div class="modal animated fadeIn" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">ADMINISTRACIÓN DE SERVIDORES</h5>

                              </div>
                              <div class="modal-body">
                                <p>A cargo de los servidores y aplicaciones centrales de información y bases de datos en la UNI que aseguran los servicios centrales ofrecidos por la DTIC. Asegura la documentación actualizada y disponible de las configuraciones de los servidores y aplicaciones.</p>
                                <h4>Funciones</h4>
                                <ul class="text-justify">
                                  <li>Supervisar y administrar el ancho de banda brindado por el ISP.</li>
                                  <li>Instalar, configurar y Administrar aplicaciones en los servidores garantizando asi los servicios de alojamiento web, correo, dns, webcachés y encaminamiento IP.</li>
                                  <li>Administrar cuentas de correo electronico y foros de discusión institucional.</li>
                                  <li>Estudiar y Proponer nuevas técnologías en la red UNI que tienen relación con los servicios de Internet.</li>
                                  <li>Aplicar politicas de seguridad tanto para servidores de la DTIC como para los usuarios internos.</li>
                                  <li></li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offices">
                    <div class="offices-header">
                        <img class="img-responsive img-thumbnail"src="assets/images/Ing._Felipe_Perez_Jiron.JPG" alt="">
                    </div>
                    <div class="offices-body">
                        <h2 class="offices-title">Vicerrectoría Administrativa</h2>
                        <h3>Ing. Felipe Pérez Jirón</h3>
                        <a href="mailto:felipe.perez@uni.edu.ni ">felipe.perez@uni.edu.ni </a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                          Leer mas...
                        </button>
                        <!-- Modal -->
                        <div class="modal animated fadeIn" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">Vicerrectoría Administrativa</h5>
                              </div>
                              <div class="modal-body">
                                <p>A cargo de los servidores y aplicaciones centrales de información y bases de datos en la UNI que aseguran los servicios centrales ofrecidos por la DTIC. Asegura la documentación actualizada y disponible de las configuraciones de los servidores y aplicaciones.</p>
                                <h4>Funciones</h4>
                                <ul class="text-justify">
                                  <li>Supervisar y administrar el ancho de banda brindado por el ISP.</li>
                                  <li>Instalar, configurar y Administrar aplicaciones en los servidores garantizando asi los servicios de alojamiento web, correo, dns, webcachés y encaminamiento IP.</li>
                                  <li>Administrar cuentas de correo electronico y foros de discusión institucional.</li>
                                  <li>Estudiar y Proponer nuevas técnologías en la red UNI que tienen relación con los servicios de Internet.</li>
                                  <li>Aplicar politicas de seguridad tanto para servidores de la DTIC como para los usuarios internos.</li>
                                  <li></li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offices">
                    <div class="offices-header">
                        <img class="img-responsive img-thumbnail"src="assets/images/Dr._Leonel_Plazaola_Prado.jpg" alt="">
                    </div>
                    <div class="offices-body">
                        <h2 class="offices-title">Vicerrectoría de Investigación y Desarrollo</h2>
                        <h3>Dr. Leonel Plazaola Prado</h3>
                        <a href="mailto:leonel.plazaola@uni.edu.ni ">leonel.plazaola@uni.edu.ni </a><br><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
                          Leer mas...
                        </button>
                        <!-- Modal -->
                        <div class="modal animated fadeIn" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">Vicerrectoría de Investigación y Desarrollo</h5>
                              </div>
                              <div class="modal-body">
                                <p>A cargo de los servidores y aplicaciones centrales de información y bases de datos en la UNI que aseguran los servicios centrales ofrecidos por la DTIC. Asegura la documentación actualizada y disponible de las configuraciones de los servidores y aplicaciones.</p>
                                <h4>Funciones</h4>
                                <ul class="text-justify">
                                  <li>Supervisar y administrar el ancho de banda brindado por el ISP.</li>
                                  <li>Instalar, configurar y Administrar aplicaciones en los servidores garantizando asi los servicios de alojamiento web, correo, dns, webcachés y encaminamiento IP.</li>
                                  <li>Administrar cuentas de correo electronico y foros de discusión institucional.</li>
                                  <li>Estudiar y Proponer nuevas técnologías en la red UNI que tienen relación con los servicios de Internet.</li>
                                  <li>Aplicar politicas de seguridad tanto para servidores de la DTIC como para los usuarios internos.</li>
                                  <li></li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
