<!-- <div class="container-fluid noticias">
    <div class="row">
        <div class="col-sm-12 section-header">
            <h2>Noticias</h2>
            <p>Las Ultimas noticias de Universidad Nacional de Ingeniería</p>
            <span><i class="fa fa-circle"></i></span>
        </div>
       
    </div>
</div> -->
<section class="sandc">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header">
                <h2>Noticias</h2>
                <p>Las Ultimas noticias de Universidad Nacional de Ingeniería</p>
                <span><i class="fa fa-circle"></i></span>
            </div>
            <div class="col-sm-6">
                <div id="slider-example" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-example" data-slide-to="0" class="active"> </li>
                        <li data-target="#slider-example" data-slide-to="1"> </li>
                        <li data-target="#slider-example" data-slide-to="2"> </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="assets/images/slider/Somos-UNI.jpg" alt="First slide" />
                        </div>
                        <div class="item">
                            <img src="assets/images/slider/Extension-UNI.jpg" alt="Second slide" />
                        </div>
                        <div class="item">
                            <img src="assets/images/slider/banner2.jpg" alt="Third slide" />
                        </div>
                    </div>
                    <a class="control-left" href="#slider-example" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="control-right" href="#slider-example" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-sm-6 carousel">
                <!-- <h2>Importante</h2> -->
                <div class="owl-example-c owl-carousel">
                    <div>
                        <img src="assets/images/slider/banerlil2.jpg" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                        <h3>John Doe</h3> -->
                    </div><br>
                    <div>
                        <img src="assets/images/slider/banerlil3.gif" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                        <h3>John Doe</h3> -->
                    </div><br>
                    <div>
                        <img src="assets/images/slider/banerlil2.jpg" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                        <h3>John Doe</h3> -->
                    </div><br>
                    <div>
                        <img src="assets/images/slider/banerlil3.gif" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                        <h3>John Doe</h3> -->
                    </div><br>
                    <div>
                        <img src="assets/images/slider/banerlil2.jpg" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                            <h3>John Doe</h3> -->
                    </div><br>
                    <div>
                        <img src="assets/images/slider/banerlil2.jpg" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                                <h3>John Doe</h3> -->
                    </div><br>
                    <div>
                        <img src="assets/images/slider/banerlil2.jpg" alt="banner">
                        <!-- <p>Lorem ipsum dolor sit amet, cons tetur adip isicing elit. Nobis, ness ita tibus fugiat sed re enderit totam.</p>
                                    <h3>John Doe</h3> -->
                    </div><br>
                    <!-- <div class="owl-nav">
                        <div class="owl-prev">
                            <i class="fa fa-long-arrow-left"></i>
                        </div>
                        <div class="owl-next">
                            <i class="fa fa-long-arrow-right"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team" id="team">
    <div class="container animated fadeIn">
        <div class="row">
            <div class="col-sm-12 section-header">
                <h2>Alma Máter</h2>
                <p>La Universidad Nacional de Ingeniería (UNI) es una casa de estudios superiores radicada en la ciudad de Managua, Nicaragua, estatal y autónoma. Es la primera universidad nacional que aglutina en una sola casa de estudios las ingenierías
                    existentes hasta finales del siglo XX en Nicaragua.</p>
                <span><i class="fa fa-circle"></i></span>

            </div>
            <section class="pricing-section bg-11">
                <div class="pricing pricing--tenzin">
                    <div class="pricing__item">
                        <h3 class="pricing__title">Información e Historia</h3>
                        <div class="pricing__price"> <img clas="img-thumbnail" src="assets/images/mater/escuela_ingenieria.jpg" alt="historia"></div>
                        <!-- <p class="pricing__sentence">Perfect for single freelancers who work by themselves</p> -->

                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, cumque.</li>
                            <!-- <li class="pricing__feature">Free hosting</li>
                            <li class="pricing__feature">40MB of storage space</li> -->
                        </ul>
                        <button class="pricing__action" routerLink="/alma-mater">Leer mas...</button>
                    </div>
                    <div class="pricing__item">
                        <h3 class="pricing__title">Dirección superior</h3>
                        <div class="pricing__price"><img class="img-thumbnail" src="assets/images/mater/rector.jpg" alt="rector"></div>
                        <!-- <p class="pricing__sentence">Suitable for small businesses with up to 5 employees</p> -->

                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, sapiente.</li>

                        </ul>
                        <button class="pricing__action" routerLink="/rectoria">Leer mas...</button>
                    </div>
                    <div class="pricing__item">
                        <h3 class="pricing__title">Organigrama, Convenios y Reglamentos</h3>
                        <div class="pricing__price"><img class="img-thumbnail" src="assets/images/mater/martillo_libro.jpg" alt="martillo"></div>
                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, nostrum.</li>
                        </ul>
                        <button class="pricing__action" routerLink="/alma-mater">Leer mas..</button>
                    </div>
                    <div class="pricing__item">
                        <h3 class="pricing__title">Divisiones Administrativas</h3>
                        <div class="pricing__price"><img class="img-thumbnail" src="assets/images/mater/divisiones_administrativas.jpg" alt="ADM"></div>
                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, architecto.</li>
                        </ul>
                        <button class="pricing__action" routerLink="/alma-mater">Leer mas..</button>
                    </div>
                    <div class="pricing__item">
                        <h3 class="pricing__title">Introducción</h3>
                        <div class="pricing__price"><img class="img-thumbnail" src="assets/images/mater/nicaragua.jpg" alt="Nic"></div>
                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, laudantium.</li>
                        </ul>
                        <button class="pricing__action" routerLink="/alma-mater">Leer mas...</button>
                    </div>
                    <div class="pricing__item">
                        <h3 class="pricing__title">Publicaciones</h3>
                        <div class="pricing__price"><img class="img-thumbnail" src="assets/images/mater/publicaciones.jpg" alt="Nic"></div>
                        <ul class="pricing__feature-list">
                            <li class="pricing__feature">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, illum!</li>
                        </ul>
                        <button class="pricing__action" routerLink="/alma-mater">Leer mas...</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="timeline-history img-responsive" id="timeline-history" data-parallax="scroll" data-image-src="assets/images/ed.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header">
                <h2>Historia Universidad Nacional de Ingeniería</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum </p>
                <span><i class="fa fa-circle"></i></span>
            </div>
            <!-- Ends: .section-header -->

            <div class="col-sm-12 timeline-wrapper">
                <!-- 2016 -->
                <div class="history-year row">
                    <div class="year-btn"><span>2016</span></div>
                    <div class="col-md-6 col-sm-12 timeline-left">
                        <div class="timeline-single wow fadeIn" data-wow-delay="0.1s">
                            <h3><span>Creative Director / Nov 2015 - Present</span></h3>
                            <p>Lorem ipsum dolor sit amet, consecteturr adipisicingp elit sed dor eiusm od tempor incididunit utr labore et dolorey mag aliquar Ut enim ad minim veniam quis nostrud.</p>
                        </div>
                        <div class="timeline-single wow fadeIn" data-wow-delay="0.2s">
                            <h3><span>Creative Director / Nov 2015 - Present</span></h3>
                            <p>Lorem ipsum dolor sit amet, consecteturr adipisicingp elit sed dor eiusm od tempor incididunit utr labore et dolorey mag aliquar Ut enim ad minim veniam quis nostrud.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 timeline-right">
                        <div class="timeline-single wow fadeIn" data-wow-delay="0.3s">
                            <h3><span>Creative Director / Nov 2015 - Present</span></h3>
                            <p>Lorem ipsum dolor sit amet, consecteturr adipisicingp elit sed dor eiusm od tempor incididunit utr labore et dolorey mag aliquar Ut enim ad minim veniam quis nostrud.</p>
                        </div>
                        <div class="timeline-single wow fadeIn" data-wow-delay="0.4s">
                            <h3><span>Creative Director / Nov 2015 - Present</span></h3>
                            <p>Lorem ipsum dolor sit amet, consecteturr adipisicingp elit sed dor eiusm od tempor incididunit utr labore et dolorey mag aliquar Ut enim ad minim veniam quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .history-year -->

                <!-- 2015 -->
                <div class="history-year row">
                    <div class="year-btn"><span>2015</span></div>
                    <div class="col-md-6 col-sm-12 timeline-left">
                        <div class="timeline-single wow fadeIn" data-wow-delay="0.5s">
                            <h3><span>Creative Director / Nov 2015 - Present</span></h3>
                            <p>Lorem ipsum dolor sit amet, consecteturr adipisicingp elit sed dor eiusm od tempor incididunit utr labore et dolorey mag aliquar Ut enim ad minim veniam quis nostrud.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 timeline-right">
                        <div class="timeline-single wow fadeIn" data-wow-delay="0.6s">
                            <h3><span>Creative Director / Nov 2015 - Present</span></h3>
                            <p>Lorem ipsum dolor sit amet, consecteturr adipisicingp elit sed dor eiusm od tempor incididunit utr labore et dolorey mag aliquar Ut enim ad minim veniam quis nostrud.</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .history-year -->
            </div>
            <!-- Ends: .timeline-wrapper -->
            <div class="col-sm-12 download-file">
                <a routerLink="/alma-mater">Leer mas...</a>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .timeline-history -->

<!-- contactos -->
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header animated fadeIn fast">
                <h2>Contáctanos</h2>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum </p> -->

            </div>

            <div class="col-sm-12 contact-wrapper">
                <div class="contact-details row">
                    <div class="col-md-3 col-sm-6 animated fadeIn">
                        <div class="contact-details-box">
                            <img src="assets/images/contact/mapa.svg" class=" step__image ">
                            <h3>Oficina</h3>
                            <span>Sede Central ubicada en la Avenida Universitaria</span>
                            <span>Managua, Nicaragua</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animated fadeIn ">
                        <div class="contact-details-box ">
                            <img src="assets/images/contact/tel.svg " class="step__image ">
                            <h3>Teléfonos</h3>
                            <span> Planta Telefonica: (505) 2267-0275 / 77 </span>
                            <span>Telefax: (505) 2267-3709, (505) 2277-2728</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animated fadeIn ">
                        <div class="contact-details-box ">
                            <img src="assets/images/contact/mail.svg " class="step__image ">
                            <h3>Correo</h3>
                            <span>División de comunicación, edificio Ing. Carlos Santos Berroterán, segundo piso.</span>
                            <span>Teléfono: 2278 3135 / 8966 3158 / 8966 3151 </span>
                            <a href="mailto:division.comunicacion@uni.edu.ni">division.comunicacion@uni.edu.ni</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animated fadeIn ">
                        <div class="contact-details-box ">
                            <img src="assets/images/contact/admision.svg " class="step__image ">
                            <h3>Información de Admisiones</h3>
                            <span>Registro Académico, Frente a Plazoleta Principal, Recinto Universitario Simón Bolivar. Managua,</span>
                            <a href="mailto:division.comunicacion@uni.edu.ni">division.comunicacion@uni.edu.ni</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container-fluid ">

    <div class="col-sm-12 section-header " id="mapa ">
        <h2 class="mb-3 ">Recintos Universitarios</h2>
        <span><i class="fa fa-circle "></i></span>
    </div>
</div>


<!-- AIzaSyDiJsf0ggzOdFXfGJhc9B1XB-VUvomU-_s -->
<!-- <script async defer
  src="https://www.google.com/maps/embed/v1/place?q=uni.edu.ni&key=AIzaSyDiJsf0ggzOdFXfGJhc9B1XB-VUvomU-_s ">
</script> -->
<iframe width="100% " height="450 " frameborder="0 " style="border:0 " src="https://www.google.com/maps/embed/v1/place?q=uni.edu.ni&key=AIzaSyDiJsf0ggzOdFXfGJhc9B1XB-VUvomU-_s " allowfullscreen></iframe>