<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated pulse">
                    <h1>Quienes Somos</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Misón</h3>
            <p class="text-justify">
                La Universidad Nacional de Ingeniería es una Institución de la Educación Superior, estatal y autónoma, en búsqueda permanente de la excelencia académica, dedicada a formar profesionales en el campo de la Ciencia, la Ingeniería y la Arquitectura para que
                generen y difunden conocimientos con conciencia social, ética y humanística, con la finalidad de contribuir a la transformación tecnológica y al desarrollo sustentable de Nicaragua y la región Centroamericana.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Visión</h3>
            <p class="text-justify">
                La Universidad Nacional de Ingeniería es una Institución que se consolida como lider nacional en la enseñanza de la Ingenieria y la Arquitectura, y es un referente en la investigación científica y tecnológica, construido mediante la interacción con los
                diversos actores y sectores sociales, económicos y culturales del país, contribuyendo al crecimiento y desarrollo nacional en funcion del bienestar de la sociedad nicaragüense.
            </p>
        </div>
    </div>
</div>

<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated pulse">
                    <h1>Principios y Valores</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab10" role="tab">Autonomia Responsable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab11" role="tab">Libertad de Cátedra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab12" role="tab">Vocación de Paz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab13" role="tab">Gratuidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab14" role="tab">Equidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab15" role="tab">Democracia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab16" role="tab">Historia</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab10">
                    <p class="text-justify">
                        La Autonomía Universitaria es un principio fundamental e irrenunciable para la vida de la Universidad, implica responsabilidad académica, orgánica, administrativa y financiera. La Autonomía Universitaria, faculta a la Universidad a formular su propia
                        legislación interna, designar sus autoridades, autogobernarse y planificar su actividad académica, así como disponer de sus images con entera libertad, sin menoscabo de realizar rendición social de cuentas, como un mecanismo permanente
                        para el ejercicio pleno de su autonomía y transparencia de su gestión.
                    </p>
                </div>

                <div role="tabpanel" class="tab-pane" id="tab11">
                    <p class="text-justify">
                        La Libertad de Cátedra es un principio de la enseñanza universitaria, que se ejerce de manera responsable y que otorga a los miembros del claustro docente plena libertad para expresar sus convicciones filosóficas, promoviendo la libre creación, investigación
                        y difusión del arte, las letras, la ciencia y la tecnología.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab12">
                    <p class="text-justify">
                        La Universidad Nacional de Ingeniería por su naturaleza, propugna por el desarrollo de una vocación de paz en la sociedad y en su Comunidad Universitaria en particular, consignada en sus planes de estudios y expresada mediante el diálogo permanente, la
                        libre expresión de opiniones, la armonía y la tolerancia en las diferentes expresiones ideológicas y corrientes de pensamiento filosófico, político y religioso, sin discriminación de ninguna índole.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab13">
                    <p class="text-justify">El acceso a la Universidad Nacional de Ingeniería es libre y gratuito para todos los nicaragüenses, siempre que los interesados cumplan con los requisitos y condiciones académicas exigidas, sin discriminación por razones de nacimiento,
                        nacionalidad, credo político, raza, sexo, religión, opinión, origen, posición económica o condición social.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab14">
                    <p class="text-justify">La equidad es una cualidad que consiste en atribuir a cada uno aquello a lo que tiene derecho, en consecuencia, la Universidad Nacional de Ingeniería propicia este principio en todas sus instancias, niveles y ambitos de su competencia,
                        en beneficio de los miembros de su comunidad.
                </div>
                <div role="tabpanel" class="tab-pane" id="tab15">
                    <p class="text-justify">La democracia asumida como la igualdad de todos ante la Ley, se expresa mediante la constitución de una comunidad donde se enseña, se aprende e investiga, con formas de gobierno participativo y colegiado.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab16">
                    <h2>Antecedentes</h2>
                    <p class="text-justify">
                        La ingeniería en nuestro país se ha desarrollado paso a paso, ya que los primeros indicios se remontan a 1680, cuando se funda el seminario de San Ramón en la ciudad de León, donde se impartieron los primeros cursos de Aritmética, Geometría, Algebra y
                        Física, alcanzando dicho seminario el nivel de universidad por decreto real el 10 de enero de 1812. En 1881 se funda la Escuela de Artes y Oficios en Managua bajo la dirección de ingenieros franceses, formando maestranza de ferrocarril
                        y entrenamiento de obreros ferroviarios, esto como respuesta a la construcción de vías del Ferroviaria de la época; obra que habrá de ser el eje de mayor influencia en el desarrollo de la Ingeniería Nacional.
                    </p><br>
                    <p class="text-justify">
                        <img class="img-thumbnail img-responsive" style=" width: 250px; float: left; margin-right: 10px; margin-bottom: 10px; " src="assets/images/Ing._Julio_Padilla_Mendez.png" alt=""> Sin embargo, la génesis de la UNI se remonta al año
                        de 1941, cuando se creó la Escuela de Ingeniería bajo la conducción del Ing. Julio Padilla Méndez; en Agosto del este año (1941) se incorpora a la recién creada UNIVERSIDAD CENTRAL DE NICARAGUA adoptando el nombre de facultad de
                        Ciencias Físico-Matemáticas. En esta Facultad se imparte cursos para la carrera de Ingeniería Civil, y contempla la ampliación a las carreras de Arquitectura, Ingeniería en Minas e Ingeniería Eléctrica. En 1946 se de la primera
                        graduación de ingenieros civiles, integrada por: Aníbal Arana R., Emilio Cuadra Cha., Salvador García A., Armando Hernández A., Francisco Jarquín B. y Emilio Molina. Este mismo año se cierra la Universidad Central, a raíz de las
                        protestas estudiantiles contra el régimen somocista, mas la Facultad de Ciencias Físico-Matemáticas sigue funcionado a pesar de las acciones del Gobierno contra las autoridades docentes y estudiantiles. En 1947 la Universidad de
                        León es elevada a la categoría de Universidad Nacional y la Facultad de ciencias Físico-Matemáticas se incorpora a ella.
                    </p><br>
                    <p class="text-justify">
                        La Facultad de Ciencias Físico-Matemáticas desde su fundación hasta 1959, mantiene invariable su Plan de Estudios y el régimen académico. Es a partir del año “1958, Año de la Autonomía Universitaria ”, que se inicia la preocupación sobre el funcionamiento,
                        el rendimiento académico, los contenidos del plan de estudio y la ampliación a otras carreras. En 1959, se debate públicamente sobre la deficiencia en matemática que presentan los bachilleres que ingresan a la carrera de Ingeniería,
                        así como la bajísima promoción de graduados – de 90 que ingresaban se graduaban tres o cinco cada año-. A partir de este año se aplicaba examen de admisión a los bachilleres aspirantes a la carrera de ingeniería; este tipo de examen
                        se mantuvo hasta el año de 1967 en que se transformó en examen de Clasificación.
                    </p><br>
                    <p class="text-justify">
                        <img class="img-thumbnail img-responsive" style=" width: 110px; float: left; margin-right: 10px; margin-bottom: 10px; " src="assets/images/Ing._Carlos_Santos_Berroteran.jpg" alt=""> En 1962, fallece el fundador de la Facultad,
                        Ingeniero Julio Padilla Méndez, dejando un digno ejemplo de perseverancia y entrega a la formación de ingenieros. La Decanatura es asumida por uno de los egresados de la segunda promoción, el Ingeniero Carlos Santos Berroterán.
                        1964, se funda la escuela de Arquitectura adscrita a la misma Facultad, ya que hasta dicha fecha los profesionales de la Arquitectura hacían sus estudios en el exterior. Facultad de Ciencias Físico- Matemáticas amplia su campo
                        con la creación de las carreras de Topografía y Geodesia (1967) y las carreras cortas de Maestro de Obras y Supervisores Industriales (1972) y finalmente se crea la carrera de Ingeniería Agrícola.
                    </p><br>
                    <p class="text-justify">
                        Importante destacar que en este período ocurre un hecho notable para la vida universitaria del país. En 1964 las autoridades, profesores y estudiantes de la Facultad de Ciencias Físico- Matemáticas reclaman con éxito al gobierno la entrega de 104 manzanas
                        de terrenos, a cambio de su propiedad, donde funcionaba, en el Centro de Managua. En estas 104 manzanas se comenzaron a edificar en 1969 y corresponde al actual Recinto Universitario “Rubén Darío”, de la Universidad Nacional Autónoma
                        de Nicaragua – Managua. En 1968 se aprueba la Primera Transformación Curricular, el nuevo plan de estudio para la carrera de Ingeniería Civil, se elaboró en base a las recomendaciones de la II Mesa Redonda de Facultades de Ingeniería
                        de Centroamérica. Esta transformación significó la actualización de la enseñanza de la ingeniería en concordancia con los otros países Centroamericanos y la adopción del régimen semestral y el sistema de créditos. La enseñanza
                        de la ingeniería en Nicaragua se amplia con la creación de la Universidad Centroamericana (UCA) en el año de 1961, en la ciudad de Managua. En la UCA se crea en la Facultad de Ingeniería las carreras de Ingeniería Civil, Ingeniería
                        Electromecánica e Ingeniería Química Industrial. La facultad de Ingeniería de la UCA, amplía rápidamente su campo de formación, alcanzando ocho especialidades en el año de 1980: Ingeniería Eléctrica, Ingeniería Electromecánica,
                        Ingeniería Industrial, Ingeniería Industrial- Química, Ingeniería Civil, Ingeniería Civil-Administrativa, Ingeniería Electrónica y Ciencias de la Computación. En el año de 1979, meses después del triunfo de la Revolución Popular
                        Sandinista, el 19 de Julio, se inicia en la Educación Superior una profunda transformación de todo el Sistema. Los elementos mas significativos de esta transformación son los siguientes:

                    </p>
                    <ul class="text-left">
                        <li>
                            Creación del Consejo Nacional de la Ecuación Superior (CNES), con los fines de normar y llevar control de las actividades académicas, financieras y administrativas de los centros de educación superior del país.
                        </li>
                        <li>
                            Separación de la UNAN en dos núcleos independientes, UNAN- León y UNAN- Managua, con el fin de eliminar la dependencia del núcleo de Managua con respecto al de León.
                        </li>
                        <li>
                            Regresar el régimen anual y al Sistema de Bloques, eliminando el régimen semestral y el Sistema de Créditos.
                        </li>
                        <li>
                            Conformación de nuevos planes de estudios y programas de asignaturas, partiendo de la definición clara de los campos de ocupación de cada una de las especialidades.
                        </li>
                        <li>
                            Traslado de las carreras y cursos de formación no universitaria a los Centros correspondientes.
                        </li>
                    </ul><br>
                    <p class="text-justify">
                        En octubre de 1982, el presidente del Consejo Nacional de Educación Superior (CNES), el Dr. Ernesto Castillo Martínez se contacta con el Ing. Juan Sánchez Barquero, proponiéndole coordinar una comisión integrada por el decano de Ingeniería de la UCA y
                        el decano de la facultad de Ciencias Físico - Matemáticas de la UNAN, para instaurar una institución de educación superior que agrupara la enseñanza de la ingeniería y la arquitectura en Nicaragua, la cual tenía que iniciar sus
                        funciones en 1983.
                    </p>
                    <p class="text-justify">
                        El siete de febrero de 1983, por decreto 1234 de la Junta de Gobierno de Reconstrucción Nacional, la Universidad Nacional de Ingeniería (UNI), empieza sus funciones en la enseñanza de la ingeniería y la arquitectura con una etapa de planificación de la
                        enseñanza tecnológica. Según el Ing. Juan Sánchez Barquero, quien es rector fundador de la universidad, realizaron un estudio durante el primer año de funcionamiento, para calcular la demanda de profesionales que necesitaba el
                        país basado en los proyectos de inversión a ejecutarse en esa época, y así no desperdiciar los recursos del Estado y lograr una buena inversión en la educación.
                    </p><br>
                    <h2>Creación de la única Universidad Tecnológica del país</h2>
                    <p class="text-justify">
                        Teniendo la ingeniería 43 años y la Arquitectura 19 años de ser impartida en el país, en 1983 un grupo de ingenieros comienza la ardua tarea de unificar la enseñanza de la ingeniería en una sola institución. Para el Ing. Sánchez, “la UNI, no es una institución
                        que se funda en un escritorio o en un documento, sino que se crea en la vida diaria que es la docencia, la enseñanza, el deporte, y en peligros por la amenaza latente que enfrentaba el país”.
                    </p><br>
                    <p class="text-justify">
                        “No cabía duda, había que triunfar y buscar el éxito, el cual se alcanzó trabajando en equipo, convencido de que yo no era el héroe de una película, sino el coordinador del trabajo de mucha gente y que tenía que caminar por los pasillos, ir a las aulas
                        y conversar con los estudiantes”, afirma el Ing. Juan Sánchez B.
                    </p><br>
                    <p class="text-justify">
                        El nacimiento de la Universidad Nacional de Ingeniería, no fue color de rosa, ya que eran momentos difíciles. Habían recursos limitados, por lo cual el Consejo Universitario de la UNI, decidió organizar la fundación pro desarrollo de la misma, involucrando
                        a instituciones gubernamentales, como el Ministerio de Construcción, el Ministerio de Industria, el Ferrocarril, el Ministerio de Transporte, el Ministerio de la Vivienda, entre otros, que ayudaban con transporte, materiales y
                        promovían las clases prácticas de los estudiantes. “Había una gran solidaridad alrededor de la universidad, no teníamos dinero pero teníamos recursos”, señala con mucho agrado el rector fundador.
                    </p>
                    <p class="text-justify">
                        Además, dicha fundación se propuso conseguir la colaboración de otros países, visitando las embajadas y explicándoles que era de suma prioridad para el país formar ingenieros, y haciéndoles notar que una nación que tiene interés por la cultura científica
                        del mundo, debe apoyar un proyecto como era la creación de la UNI. Según el Ing. Sánchez Barquero, las respuestas fueron impresionantes, ya que en poco tiempo lograron conseguir el apoyo de 28 embajadas.
                    </p><br>
                    <p class="text-justify">
                        Países como Alemania, Francia, Cuba, Estados Unidos, Perú, Venezuela, Unión Soviética, Brasil, México y las mismas universidades centroamericanas, ofrecieron un mundo de posibilidades, que más que colaboración económica era una comunicación vital, porque
                        estábamos en el mundo de la ciencia, de los avances tecnológicos, hablando y comparando avances y al conversar con ellos nos dábamos cuenta si estábamos bien o mal, dice el Ing. Sánchez.
                    </p><br>
                    <p class="text-justify">
                        Por otro lado, los embajadores visitaron las instalaciones de lo que fuera el antiguo Colegio la Inmaculada, destruido por el terremoto de 1972, y pudieron observar las limitaciones físicas en que se encontraba el recinto y a la vez constataron la riqueza
                        espiritual de los seres humanos que estaban trabajando. Después se firmaron convenios de colaboración, logrando conseguir apoyo para la construcción de laboratorios y la formación docente.
                    </p><br>
                    <p class="text-justify">
                        “Fue una época de búsqueda, de superación y solidaridad internacional que tuvo una incidencia muy grande, tuvimos hasta 30 profesores extranjeros con gran nivel académico que dejaban a su familia y de ganar un buen salario en sus países por apoyar el
                        desarrollo de la UNI”, señaló el ing. Julio Maltez, primer secretario general de la UNI.
                    </p><br>
                    <p class="text-justify">
                        “Lo asombroso del momento es que en plena agresión, logramos que un decano del Instituto Tecnológico de Massachussets, Estados Unidos viniera y nos acompañara a los cortes de café, al igual que un decano de la Universidad Politécnica de Madrid. Todo era
                        mágico, era una comunicación universal, sin banderas ideológicas, que nos hizo vencer el reto”, recalca el Ing. Sánchez.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Solidaridad</h3>
            <p class="text-justify">
                La Universidad Nacional de Ingeniería promueve la solidaridad social ante los problemas individuales y colectivos que se presentan en la comunidad Universitaria. Esta solidaridad a lo interno se extiende y proyecta hacia la sociedad, mediante el reforzamiento
                de sus funciones de servicio a la población y su capacidad de asistencia y respuesta inmediata ante emergencias nacionales y desastres naturales y de forma permanente con asesorías, asistencia técnica, capacitación, ayuda moral y material.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Integración Regional</h3>
            <p class="text-justify">
                La Universidad Nacional de Ingeniería participa y promueve la integración regional y contribuye a la redefinición de políticas de desarrollo educativo, cultural y deportivo, económico, científico y tecnológico, promoviendo una estrategia que responda
                como bloque a las tendencias de los procesos de desarrollo regional vinculado a las tendencias mundiales.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Promoción de los Derechos Humanos</h3>
            <p class="text-justify">
                La Universidad Nacional de Ingeniería asume que la libertad, la justicia y la paz en el mundo está sustentada en el reconocimiento de la dignidad intrínseca y de los derechos inalienables de los seres humanos; promueve y difunde una cultura de respeto
                a los derechos humanos, fortaleciendo la tolerancia en el debate de las ideas, fomentando el respeto y desarrollo de la dignidad humana, formada por hombres y mujeres con plena conciencia de sus deberes y derechos.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Identidad Institucional</h3>
            <p class="text-justify">
                La Identidad Institucional de la Universidad Nacional de Ingeniería se manifiesta mediante la promoción, difusión, respeto y preservación de sus símbolos, tradiciones y filosofía educativa. Son expresiones de ello :
            </p>
            <ul class="text-left">
                <li>Bandera</li>
                <li>Escudo</li>
                <li>Himno</li>
                <li>La Misión y Visión</li>
                <li>La Tecnología, la Cultura y el Deporte</li>
                <li>Logotipo</li>
                <li>Su Modelo Educativo y su Currículo</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Etica Institucional</h3>
            <p class="text-justify">
                La Ética Institucional es el marco que regula el comportamiento y las relaciones entre todos los miembros que conforman la Comunidad Universitaria. En el quehacer institucional debe privar la integridad, la honradez, probidad, tolerancia y respeto de
                los valores universalmente aceptados e inspiradores del servicio de la Educación Superior. La Universidad no interviene en asuntos de carácter político, partidario, ni religioso.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Protección de los Recursos Naturales y el Ambiente</h3>
            <p class="text-justify">
                La Universidad Nacional de Ingeniería promueve la protección, preservación, conservación, rescate y el manejo apropiado y sostenible de los recursos naturales, el mejoramiento de la calidad ambiental, los procesos ecológicos y la biodiversidad, temas
                esenciales para el mantenimiento de la vida.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Logo UNI</h3>
            <h4 class="text-left">Forma</h4>
            <p class="text-left">

                Representa las siglas de la Universidad Nacional de Ingeniería: UNI, y está construido en base al rectángulo de sección áurea, que se puede construir con la forma del número de oro.
            </p>
            <h4 class="text-left">Color</h4>
            <p class="text-left">

                Azul marino sobre fondo blanco, con los siguientes tonos:
            </p>
            <ul class="text-left">
                <li>Cyan: 100%,</li>
                <li>Magenta: 90%</li>
                <li>Yellow: 8%</li>
                <li>Black: 5%</li>
            </ul><br>
            <h4 class="text-left">Autor</h4>
            <p class="text-left">Arquitecto Porfirio Garcia Romano.</p>
            <h4 class="text-left">Dimensiones</h4>
            <p class="text-justify">
                Para encontrar el lado largo de una altura propuesta, debe multiplicarse la medida de altura propuesta por 1.61832. Para encontrar la medida de la altura, debe multiplicarse la propuesta del largo por el número 0.61832. Una vez obtenido el rectángulo,
                deberá dividirse para la altura en tres partes proporcionales y las medidas de largo en seis partes proporcionales respectivamente. La división blanca entre las partes del logotipo debe ser de un ancho que corresponda a una cuarta parte
                del punto de la I incluida en ellogotipo.
            </p>
            <h4 class="text-left">Visualización</h4>
            <p class="text-justify">
                Sus formas ortogonales y el hecho deben ser un rectángulo comunican la idea de la construcción, vías, viaductos y tuberías que simbolizan la última tecnología. El Logotipo es una alusión al origen, cauce, río, camino, a la espiral de serpiente y pájaro
                que representa al Dios aborigen nicaragüense Quetzalcóatl, cuya pintura se observa en la laguna de Asososca y en otras pinturas de cerámica arqueológica
            </p>
        </div>
        <div class="col-md-6">
            <h3>Himno</h3>
            <p>
                Alma Mater, UNI Universidad Nacional de Ingeniería
            </p><br>
            <p>Hoy te cantamos con vigor y alegría Universidad Nacional de Ingeniería el afán, el esfuerzo y nuestros sueños son nuestro empeño Alma Mater tan querida.</p><br>
            <p>Alma Mater, UNI Universidad Nacional de Ingeniería.</p><br>
            <p>La dura roca tornaremos en ladrillo para construir firmemente el futuro cosechando áureos frutos que den brillo a la verdad, a la justicia y al honor.</p><br>
            <p>Y si el fracaso amenazara aún tu gloria, del universo, el supremo Arquitecto tañerá cuerdas vibrantes tan profundas que alumbrarán puerto seguro a la victoria.</p><br>
            <p>Alma Mater, UNI Universidad Nacional de Ingeniería.</p>
            <p>
                <span>
  <strong>
    Autor:
    <br>
    Ingeniero Cedrick Dalla- Torre Zamora
  </strong>
</span>
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" style=" width: 310px; height:200px; float: left; margin-right: 10px; margin-top: 20px; padding-top:30px; margin-bottom: 10px; margin-left: 65px;" src="assets/images/logo_uni_610x377.png" alt="">

        </div>
    </div>



    <!-- <div class="col-md-6">
<img class="img-responsive" style=" width: 310px; height:200px; float: left; margin-right: 10px; margin-top: 20px; padding-top:30px; margin-bottom: 10px;" src="assets/images/logo_uni_610x377.png" alt="">

    </div> -->

    <!-- <div class="col-md-8 text-left">
      <h4>Autor</h4>
      <p>Arquitecto Porfirio Garcia Romano.</p>
    </div> -->

    <!-- <div class="col-md-4">
        <button type="button" style=" padding-left: 10px; border-radius: 0; margin-right: 20px;" class="btn btn-info"><i class="fa fa-cloud-download"></i> Descargar</button>  </div> -->