<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
        <h2>Universidad Nacional De Ingeniería</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, laboriosam.</p>
          <p>Copyright &copy;{{ anio }}, Todos Los Derechos Reservados.</p>
      </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
        <h4>Enlaces De Interes</h4>
        <div class="col-md-6">
              <ul class="pages">
                  <li><a target="_blank" href="https://outlook.office.com/owa/"><i class="fa fa-envelope-o"></i> Correo UNI</a></li>
                  <li><a target="_blank" href="https://si.uni.edu.ni/notasuni/Login.aspx"><i class="fa fa-pencil-square-o"></i> Notas en Línea</a></li>
                  <li><a target="_blank" href="https://si.uni.edu.ni/SIPPSI/Formularios/login.aspx"><i class="fa fa-book"></i> SIPPSI</a></li>
                  <li><a href="#"><i class=""></i> Uni On Line</a></li>
                  <li><a href="#"><i class="fa fa-calendar"></i> Calendario Académico</a></li>
              </ul>
          </div>
        <div class="col-md-6">
              <ul class="list">
                  <li><a target="_blank" href="#">Plan Estratégico</a></li>
                  <li><a href="#">AEI</a></li>
                  <li><a href="#">Informe CNEA</a></li>
                  <li><a href="#">UNI Radio</a></li>
              </ul>
          </div>
      </div>

    <div class="col-md-2 footer-social animated fadeInDown">
        <h4>Síguenos</h4>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="#"><i class="fa fa-camera"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <!-- <li><a href="http://www.uni.edu.ni/Alma_Mater" target="_blank"><img src="assets/images/icon/youtube.svg" alt=""></a></li>
          <li><a href="http://www.uni.edu.ni/Alma_Mater" target="_blank"><img src="assets/images/icon/facebook.svg" alt=""></a></li>
          <li><a href="http://www.uni.edu.ni/Alma_Mater" target="_blank"><img src="assets/images/icon/facebook.svg" alt=""></a></li>
          <li><a href="http://www.uni.edu.ni/Alma_Mater" target="_blank"><img src="assets/images/icon/facebook.svg" alt=""></a></li>
          <li><a href="http://www.uni.edu.ni/Alma_Mater" target="_blank"><img src="assets/images/icon/facebook.svg" alt=""></a></li> -->
         </ul>
      </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
        <h4>Búsqueda personalizada</h4>


              <div class="input-group">
                <input type="text" class="form-control" placeholder="buscar...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                </span>
              </div><!-- /input-group -->

      </div>
  </div>
</footer>
